<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtGLUmTU2Ev9S5C3LoWIS7o2i-rxSinoo</string>
	<key>GCM_SENDER_ID</key>
	<string>18935722220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.butlometr2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>butlometr</string>
	<key>STORAGE_BUCKET</key>
	<string>butlometr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18935722220:ios:251954a8195b99829a75c9</string>
	<key>DATABASE_URL</key>
	<string>https://butlometr-default-rtdb.firebaseio.com</string>
</dict>
</plist>